<template name="Header">
  <img class="ui centered image header" src="/images/language-bubbles.jpg"
       style="width: 70%; margin-top: -70px">
  <div class="ui borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Landing'}}"><h1>ILE FLEX</h1></a>
      {{#if currentUser}}
        <a class="item" href="{{pathFor 'Language_Partners'}}"><h3>Language Partners</h3></a>
        <a class="item" href="{{pathFor 'Open_Sessions'}}"><h3>Open Sessions</h3></a>
        <a class="item" href="{{pathFor 'My_Profile'}}"><h3>My Profile</h3></a>
      {{/if}}
      <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
    </div>
  </div>
</template>