body {
  padding-top: 61px; /* Move body of page below navbar. */
}

.ui.borderless.inverted.menu {
  background-color: #1A8BBC;
}

.landing-page-background {
  background: url('/images/language-exchange.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 950px;
  opacity: 0.3;
}

.ui.middle.aligned.centered.grid.text.container {
  color: #1A8BBC;
  opacity: initial !important;
}

.ui.center.aligned.container {
  color: white;
}

.footer-style {
  background-color: #1A8BBC;
}

