.header-style {
  position: fixed;
}

.container {
  max-width: 100%;
  max-height: 100%;
}

.ui.centered.text.container {
  position: fixed;
  margin-top: 5%;
  margin-bottom: 5%;
  background: rgba(255, 255, 255, 0.8);
  color: #2185D0;
  height: 500px;
  width: 700px;
}

.ui.top-row {
  margin-top: -80px;
}

h1 {
  font-size: 10em;
  color: #2185D0;
}

h2 {
  color: salmon;
}

.login-title {
  font-size: 5em;
  color: #2185D0;
  padding-bottom: 50px;
}

h3, h4 {
  font-style: italic;
}

.menu-home {
  color: white;
}

a {
  color: white;
}

.ui.borderless.inverted.menu {
  background-color: #1A8BBC;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.ui.middle.aligned.centered.grid.text.container {
  color: #1A8BBC;
}

.ui.centered.grid.login-container {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 300px;
  max-height: 400px;
  padding-top: 10%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.owl-carousel {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui.center.aligned.container {
  color: white;
}

.ui.centered.grid.home-container {
  color: #1A8BBC;
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-style {
  background-color: #1A8BBC;
  padding-bottom: 1%;
}

.ui.centered.card-container {
  margin: 4% 10% 4% 10%;
}

.ui.form.find-partner-form {
  padding-top: 6%;
  padding-bottom: 9%;
}